---
import type { HTMLAttributes } from 'astro/types';
import {removeTrailingSlash} from '../utils/string';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const cleanPathname = removeTrailingSlash(Astro.url.pathname);
const cleanHref = removeTrailingSlash(href);

const subpath = cleanPathname.match(/[^\/]+/g);
const isActive = cleanHref === cleanPathname || `${cleanHref}/${subpath?.[2]}` === cleanPathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
